@model MyProject.Models.UserLoginDto

<!-- FontAwesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

<!-- Custom CSS -->
<link rel="stylesheet" href="~/css/login.css" />

<div class="main-container">
    <!-- Brand heading -->
    <div class="brand-heading">
        <h1>La Caffeine</h1>
    </div>

    <!-- Login container -->
    <div class="login-container">
        <div class="left-panel"></div>
        <div class="right-panel">
            <h2 class="login-title">Login</h2>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            }

            @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("ReturnUrl", (string)ViewData["ReturnUrl"])

                <div class="form-group">
                    <i class="fas fa-envelope"></i>
                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <i class="fas fa-lock"></i>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-login">Log in</button>
            }

            <div class="text-center mt-5" style="text-decoration:none">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Auth", null, new { @class = "btn btn-link" })
                &nbsp;&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Register as a new user", "Register", "Auth", null, new { @class = "btn btn-link" })
            </div>

            <!-- Social login buttons -->
            <div class="social-login">
                <div class="divider">
                    <span>or sign in with</span>
                </div>
                <div class="social-buttons">
                    <!-- Facebook Login Button -->
                    <a href="@Url.Action("FacebookLogin", "Auth", new { returnUrl = ViewData["ReturnUrl"] })" class="social-btn facebook">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" />
                    </a>
                    <!-- Google Login Button -->
                    <a href="@Url.Action("GoogleLogin", "Auth", new { returnUrl = ViewData["ReturnUrl"] })" class="social-btn google">
                        <img src="https://storage.googleapis.com/libraries-lib-production/images/GoogleLogo-canvas-404-300px.original.png" alt="Google" />
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}