@model MyProject.Models.UserLoginDto

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Login</h2>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            }

            @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("ReturnUrl", (string)ViewData["ReturnUrl"])

                <div class="form-group">
                    @Html.LabelFor(m => m.EmailId, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>
                </div>
            }

            <div class="text-center mt-3">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Auth", null, new { @class = "btn btn-link" })
                @Html.ActionLink("Register as a new user", "Register", "Auth", null, new { @class = "btn btn-link" })
            </div>
        </div>
    </div>
    <!-- Add this to your login form -->
    <div class="form-group mt-3">
        <hr />
        <p class="text-center">Or sign in with:</p>
        <a href="@Url.Action("GoogleLogin", "Auth", new { returnUrl = ViewData["ReturnUrl"] })" class="btn btn-danger btn-block">
            <i class="fab fa-google"></i> Sign in with Google
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}